<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>blog posts</h1>
    <h3><a href="{% url 'blog:PostCreateView' %}">  Create new Post</a></h3><br />
    <ol>
        {% for post in posts %}
        <li>
       <h3><a href="{% url 'blog:DetailPostView' pk=post.id %}">   {{post.title}}</a></h3><br />
        {{post.body}}<br />
        {{post.created_date}}<br/>
        <h4><a href="{% url 'blog:PostEditView' pk=post.id %}">   Edit</a></h4>
        <h4><a href="{% url 'blog:PostDeleteView' pk=post.id %}">   Delete</a></h4><br />

        
        </li>
        {% endfor %}
    </ol>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


</body>

</html>

